services:
  # --- Infrastructure ---
  rabbitmq:
    image: rabbitmq:3-management
    # ports:
    #   - "5672:5672"
    #   - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - video_net

  mongo:
    image: mongo:latest
    ports:
      - "27019:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: nguyenduc03092004
      MONGO_INITDB_ROOT_PASSWORD: tdamipepe12
    networks:
      - video_net

  minio:
    image: minio/minio
    # ports:
    #   - "9000:9000"
    #   - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - video_net

  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_DEFAULT_BINARY_DATA_MODE=filesystem
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - rabbitmq
      - mongo
      - minio
    networks:
      - video_net

  # --- Application Services ---
  be:
    build: ../backend
    env_file: ../backend/.env
    # ports:
    #   - "3001:3000"
    environment:
      - PORT=3000
    depends_on:
      - mongo
      - rabbitmq
    networks:
      - video_net

  fe:
    build: ../frontend
    env_file: ../frontend/.env
    ports:
      - "80:80"
    depends_on:
      - be
    networks:
      - video_net

  python_worker:
    build: ../python_service
    env_file: ../python_service/.env
    depends_on:
      - rabbitmq
      - mongo
      - minio
    networks:
      - video_net

  douyin_service:
    build: ../get_link_douyin_service
    ports:
      - "8000:80"
    networks:
      - video_net

networks:
  video_net:
    driver: bridge

volumes:
  rabbitmq_data:
  mongo_data:
  minio_data:
  n8n_data:
